<div id="cuties">
  <div class="current">
    <div class="profile-left">
      <img src="/assets/images/{{currentCutie.photoFilename}}" alt={{currentCutie.name}}/>
    </div>
    <div class="profile-right">
      <div class="info">
        <div class="name">
          {{currentCutie.firstName}}, {{currentCutie.age}}
        </div>
        <p class="description">
          {{descriptionHtml}}
        </p>
      </div>

      <div class="hi-or-bi">
        <button {{action "rejectCutie" currentCutie}} class="reject-button">Bi</button>
        <button {{action "likeCutie" currentCutie}} class="like-button">Hi</button>
      </div>
    </div>
  </div>
</div>
<button {{action "clearSave"}}>Clear Save</button>
