<div id="likes">
  <div class="left-side">
    <div class="title">Cuties you've liked</div>
    <ul>
      {{#each model as |cutie|}}
      <li class={{if (eq cutie.id activeCutie.id) "active" "inactive"}} {{action "select" cutie}}>
        {{cutie.name}}, {{cutie.age}}
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="right-side">
    {{#if activeCutie}}
      {{chat-screen cutie=activeCutie}}
    {{/if}}
  </div>
</div>
